<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
          
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <!-- Style CSS -->
    <style>
        body{
            background-color: #333;
        }
        
        label{
            color:#ccc;
            margin-left: 20px;
            margin-top: 20px;
        }
      

        h4{
            color: #ccc;
        }

        p{
            color: #ccc;
        }
        
        footer{
            margin-top: 40px;
            text-align: center;
        }
        #texto{
            color:lightskyblue;
        }
        
        #cabecalho{
            background-color: #444;
            border-radius: 10px;
            height: 80px;
            margin-top: 20px;
            margin-bottom: 20px;
            margin-left: 20px;
            margin-right: 20px;
            background-image: linear-gradient(#444,#222);  
        }
    
        #formulario{
            background-color: #444;
            border-radius: 10px;
            height: 500px;
            margin-top: 20px;
            margin-bottom: 20px;
            margin-left: 20px;
            margin-right: 20px; 
            align-content: center; 
        }
            
        #titulo{
            color: yellow;
            text-align: center;
        }
        
        #mensagem{
            margin-left: 20px;
        }

        #enviar{
          margin-left: 20px;
        }

        .form-control{
            width: 300px;
            margin-left: 20px;
        }
    
        #emailHelp{
            margin-left: 20px;
        }
        
        #submit-bt{
            margin-left: 20px;
        }
        
        .accordion{
            margin-left: 20px;
            margin-right: 20px;
            box-shadow: 1px 10px 10px #222;
            border-radius: 20px;
        }

        .card-header{
           background-color: #444;
           background-image: linear-gradient(#444,#222);
       } 

       .card-body{
           background-color: #222;
       }

        #enu_freq{
           color:#ccc;
       }
    </style>
    <title>aluno -- backoffice</title>
</head>
<body>
    <div class="shadow p-3 mb-5" id="cabecalho">
        <h1 id="titulo">CodeMent</h1>
    </div>
    <div class="accordion" id="accordionExample">
        <div class="card">
          <div class="card-header" id="headingOne">
            <h2 class="mb-0">
              <button class="btn btn-outline-light" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Enviar dúvida
              </button>
            </h2>
          </div>
      
          <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body">
              <div>
                <label for="">Carregue o ficheiro que pretende enviar: </label>
                <input type="file" name="codigo" id="codigo" accept="">
              </div>
              <div>
                <label for="mensagem">Dúvida: </label>
                <div>
                  <textarea name="mensagem" id="mensagem" cols="140" rows="5"></textarea>
                </div>
              </div>
              <br>
              <div>
                <input id="enviar" type="submit" value="Enviar" onclick="enviar()">
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingTwo">
            <h2 class="mb-0">
              <button class="btn btn-outline-light" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Momentos de Avaliação
              </button>
            </h2>
          </div>
          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
            <div class="card-body">
                <div>
                  <p>
                    Frequencia 1 - Engenharia de Requisitos: 25/06/2020 Duração: 2h00 
                    <input type="submit" value="Resolver" onclick="window.location.href='/avaliacao'">
                  </p>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <div>
        <footer>
            <p>&copy; Grupo 5 - Engenharia de Requisitos 2019/2020</p>
        </footer>
    </div>
        
    <!-- Button trigger modal -->   
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <script>
      function enviar(){
        alert("Dúvida enviada com sucesso!");
      }
    </script>
</body>
</html>