<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    
    <!-- Style CSS -->
    <style>
      body{
        background-color: #222;
      }

      textarea{
        background: url(http://i.imgur.com/2cOaJ.png);
        background-attachment: local;
        background-repeat: no-repeat;
        padding-left: 30px;
        padding-top: 10px;
        border-color:#ccc;
        background-color: #333;
        resize:both;
        font-size: 12px;
      }
  
      #texto{
        color:lightskyblue;
      }
  
      #cabecalho{
        background-color: #444;
        border-radius: 10px;
        height: 80px;
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: 20px;
        margin-right: 20px;  
      }

      #titulo{
        color: yellow;
        text-align: center;
      }

      #send-bt{
        border-color:#333;
      }

      #launch-bt{
        border-color:#333;
      }

    </style> 

    <title><%= title %></title>
  </head>
  <body>
    <div id="cabecalho">
      <h1 id="titulo"><%= title %></h1>
    </div>
    
    <div class="container">
      <div class="row">

        <form method="POST" action="/ola">
            
          <textarea id="texto" wrap="off" rows="10" cols="180" name="texto"></textarea>

           
          <br>
          <br>

          <div>
            <button id="send-bt" class="btn btn-outline-success" type="submit">
                  Send
            </button>
            <button id="launch-bt" type="button" class="btn btn-outline-success"  onclick="abrir()" >
              Comentários
            </button>
          </div>
        </form>
       
        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Comentários</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <h5>A parte do comentário selecionada foi:</h5>
                <p id="demo"></p>
                
                <div id="s_com">

                  <h5>Não foram encontrados comentários.</h5>
                  <h5>Quer adicionar comentários ?</h5>
                  <button type="button" class="btn" onclick="comentar('sim')">Sim</button>
                  <button type="button" class="btn" data-dismiss="modal">Não</button>
                  <div id="s_com_sim">
                    <textarea id="coment"></textarea>
                  </div>
                </div>

              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="comentar('enviar')">Save changes</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    
    

    <!-- Button trigger modal -->
        
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  
    <script>
      var textComponent = document.getElementById('texto');
      var selectedText;
      function abrir(){
        ShowSelection();

        if (selectedText.length > 0){
          $("#exampleModal").modal()
          comentar();
        } 
      }
      

      
      var comentarios = '<%= comentarios %>';
      console.log(comentarios);
      //var comentarios = [];

      var s_com = document.getElementById("s_com");
      var s_com_sim = document.getElementById("s_com_sim");

      function comentar(texto){
        console.log(texto);
        console.log(comentarios);
        s_com_sim.style.display = "none";
        if(comentarios =! [] && texto ==! "sim") {
          s_com.style.display = "none";
        } 

        if(texto == 'sim'){
          s_com_sim.style.display = "block";
        }

        if(texto == "enviar"){
          //comentarios.push("selectedText");
          var comment = $.trim($("#coment").val());
          console.log(comment);
          $.post("/",
          {
            id: selectedText,
            comment: comment
          },
          function(data,status){
            alert("Data: " + data + "\nStatus: " + status);
          });

        }
        console.log(comentarios)

      }



      function ShowSelection()
        {
            

            if (textComponent.selectionStart !== undefined)
            {// Standards Compliant Version
              var startPos = textComponent.selectionStart;
              var endPos = textComponent.selectionEnd;
              selectedText = textComponent.value.substring(startPos, endPos);
            }
            else if (document.selection !== undefined)
            {// IE Version
              textComponent.focus();
              var sel = document.selection.createRange();
              selectedText = sel.text;
            }
            document.getElementById("demo").innerHTML = '"' + selectedText + '"';
            //alert("You selected: " + selectedText);
        }

    </script>

  </body>
</html>